<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<div class="container">
<h2>Database Results</h2>

<table>
        <tr>
                <th>Query time</th>
                <th>date</th>
                <th>sensor1</th>
                <th>sensor2</th>
                <th>sensor3</th>
                <th>sensor4</th>
        </tr>
    <% results.forEach(function(r) { %>
                <tr><td><%= r.actualdate %></td><td><%= r.date %></td><td><%= r.sensor1 %></td><td><%= r.sensor2 %></td><td><%= r.sensor3 %></td><td><%= r.sensor4 %></td></tr>
    <% }); %>
</table>

</div>

</body>
</html>
